@using ProfileManagement.Models.ViewModels
@model IEnumerable<ProfileViewModel>
@{
    ViewData["Title"] = "Profiles";
}

<p>
    <a asp-action="AddProfile">Add New Profile</a>
</p>
<div>
    <h5>List of Profiles</h5>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateofBirth)
                </th>
                <th>
                    View
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profile in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => profile.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => profile.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => profile.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => profile.DateofBirth)
                    </td>
                    <td>
                        <a asp-action="ProfileInfo" asp-route-id="@profile.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>